In [1]:
from jqdatasdk import *
import os
JQ_PHONE = os.getenv('JQ_PHONE')
JQ_PWD = os.getenv('JQ_PWD')

In [2]:
auth(JQ_PHONE, JQ_PWD)

auth success

In [5]:
df = get_fundamentals(query(indicator), statDate='2022')

In [7]:
df.to_csv('./output/finance2022.csv')

In [9]:
# 基于盈利指标选股 eps operating_profit, roe, inc_net_profit_year_on_year
df_filter = df[(df['eps'] > 0) & (df['operating_profit'] > 0) & (df['roe'] > 11) & (df['inc_net_profit_year_on_year'] > 10)]

In [10]:
df_filter

,id,code,statDate,pubDate,statDate.1,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,181745,301059.XSHE,2022-12-31,2023-02-09,2022-12-31,0.54,60929688.49,71009440.61,40014.83,11.9336,...,37.7019,NaN,37.7019,NaN,27.2754,NaN,30.5074,NaN,30.5074,NaN